# Overview of CredHub Service Broker

CredHub Service Broker allows apps running on VMware Tanzu Application Service for VMs (TAS for VMs)
to access secure credentials in CredHub.

Apps can use these credentials to authenticate with services not on TAS for VMs, including services
running on Ops Manager such as Spring Cloud Services and services external to Ops Manager.

The CredHub Service Broker uses secure binding credentials to prevent credential exposure in the app
environment.

## <a id='overview'></a>Overview

The CredHub Service Broker registers a service broker with TAS for VMs and exposes its service plans
on the Marketplace. Developers can then create service instances using Apps Manager or the Cloud
Foundry Command Line Interface (cf CLI) and bind them to their apps.

Creating a CredHub Service Broker instance and binding it to an app creates a credential in CredHub
and provides the reference to that credential in the app environment.
This allows developers to deploy apps that can securely access credentials for services that are not
running on TAS for VMs.

## <a id='features'></a>Key Feature

The key feature of CredHub Service Broker is secure access to service credentials for services that
are not running on TAS for VMs.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about the v1.6 release line of
CredHub Service Broker.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v1.6.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>September 28, 2023</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v1.6.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager versions</td>
        <td>3.0</td>
    </tr>
    <tr>
        <td>Compatible TAS for VMs versions</td>
        <td>4 and 5</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>Yes</td>
    </tr>
</table>

The following table provides version and version-support information about the v1.5 release line of
CredHub Service Broker.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v1.5.3</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>October 13, 2023</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v1.5.3</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager versions</td>
        <td>2.10, 3.0</td>
    </tr>
    <tr>
        <td>Compatible TAS for VMs versions</td>
        <td>2.11, 2.13, 3, and 4</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>Yes</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

CredHub Service Broker has the following requirement:

- Secure binding credentials enabled in runtime CredHub

To enable secure binding credentials in runtime CredHub, see
[Securing Services Instance Credentials with Runtime CredHub](https://docs.pivotal.io/pivotalcf/opsguide/secure-si-creds.html).
