---
title: Installing and Configuring CredHub Service Broker
owner: CredHub
---

This topic describes how to install and configure CredHub Service Broker.

##<a id='install'></a> Install and Configure CredHub Service Broker

1. Download the product file from [Pivotal Network](https://network.pivotal.io).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Under the **Import a Product** button, click **+** next to the version number of CredHub Service Broker.
This adds the tile to your staging area.

1. Click the newly added **CredHub Service Broker** tile.

1. Click **Assign AZs and Networks**.

1. Select a region under **Place singleton jobs in** and **Balance other jobs in**.

1. Select the **Network** where to deploy CredHub Service Broker.

1. Click **Save**

1. Click **Services Access**.

1. Ensure **Enable global access to plans of service CredHub Service Broker** is checked.

1. Click **Save**

1. Click **Errands**.

1. Ensure **deploy-all** is set to **Default (On)** under **Post-Deploy Errands**.

1. Ensure **delete-all** is set to **Default (On)** under **Pre-Delete Errands**.

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply changes** to install CredHub Service Broker.
