---
title: Installing and Configuring CredHub Service Broker
owner: CredHub
---

This topic tells you how to install and configure CredHub Service Broker.

##<a id='prereq'></a> Prerequisites

To install and configure the CredHub Service Broker, you must have CredHub instances available
in your VMware Tanzu Application Service for VMs (TAS for VMs) deployment.

To confirm the number of CredHub instances available, perform the following actions:

1. Click the **TAS for VMs** tile in the Tanzu Operations Manager Installation Dashboard.

1. Select the **Resource Config** tab.

1. Locate the **CredHub** job and verify that the number of instances is set to at least `1`.

    The number of instances that you need depends on both the version of TAS for VMs
    and whether or not you want high availability:

    <table class="table">
	<tr><thead>
	<th>In TAS for VMs version…</th>
	<th>For high availability, set to…</th>
	<th>Default value is…</th>
	</tr></thead>
	<tr>
		<td>2.7 and earlier</td>
		<td><code>2</code> or more</td>
		<td><code>0</code></td>
	</tr>
	<tr>
		<td>2.8 and later</td>
		<td><code>3</code> or more</td>
		<td><code>2</code></td>
	</tr>
  </table>


For more information on installing and configuring TAS for VMs for your chosen IaaS,
see <a href="https://docs.vmware.com/en/VMware-Tanzu-Application-Service/5.0/tas-for-vms/configure-pas.html">TAS for VMs</a>.


##<a id='install'></a> Install CredHub Service Broker

To install the CredHub Service Broker tile on the Tanzu Operations Manager Installation Dashboard, do the following:

1. Download the product file from [Broadcom Support Portal](https://support.broadcom.com/group/ecx/productdownloads?subfamily=CredHub%20Service%20Broker).

1. Go to the Tanzu Operations Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of CredHub Service Broker.
This adds the tile to your staging area.

##<a id='config'></a> Configure CredHub Service Broker

To configure the CredHub Service Broker:

1. Click the newly added **CredHub Service Broker** tile.

2. Follow the procedures below.

###<a id='azs-networks'></a> Configure AZs and Networks

To set the availability zones and network to deploy on, do the following:

1. Click **Assign AZs and Networks**.

	![Screenshot of "AZ and Network Assignments" pane of the CredHub Service Broker tile.
  In the "Place singleton jobs in" section, the radio button for "us-central-a" is selected.
  In the "Balance other jobs in" section, all three checkboxes are selected.
  In the "Network" section, the dropdown is set to "palmdale-pas-subnet".](images/azs-networks.png)

1. Select a region under **Place singleton jobs in** and **Balance other jobs in**.

1. Select the **Network** where to deploy CredHub Service Broker.
You may select any network.

1. Click **Save**

###<a id='services-access'></a> Configure Services Access

To confirm the default network that the CredHub Service Broker will be deployed on,
do the following:

1. Click **Services Access**.

	![Screenshot of "Determine availability of services" in the CredHub Service Broker tile.
  The "Enable global access to plans of service CredHub Service Broker" checkbox
  is selected.](images/enable-service-access.png)

1. Ensure the **Enable global access to plans of service CredHub Service Broker** checkbox is selected.

1. Click **Save**

###<a id='errands'></a> Configure Errands

To determine the errands will run after deployment
and to ensure that the pre-delete errands will run if the tile is ever uninstalled,
do the following:

1. Click **Errands**.

	![Screenshot of the "Errands" pane of the CredHub Service Broker tile.
  The text reads "Errands are scripts that run at designated points during an installation".
  In the "Post-Deploy Errands" section, the dropdown for deploy-all is set to Default (On).
  In the "Pre-Deploy Errands" section, the dropdown for delete-all is set to Default (On).](images/errands-are-turned-on.png)

1. Ensure **deploy-all** is set to **Default (On)** under **Post-Deploy Errands**.

1. Ensure **delete-all** is set to **Default (On)** under **Pre-Delete Errands**.

1. Click **Save**.

##<a id='deploy'></a> Deploy CredHub Service Broker

To complete the installation and deploy the CredHub Service Broker tile, do the following:

1. Return to the Tanzu Operations Manager Installation Dashboard.

2. Click **Apply Changes** to deploy CredHub Service Broker.
