---
title: Release Notes for CredHub Service Broker
owner: CredHub
---

This topic contains the release notes for CredHub Service Broker for Pivotal Cloud Foundry (PCF).

##<a id="v1.0.0"></a> v1.0.0

**Release Date:** April 13, 2018

Features included in this release:

* First CredHub Service Broker for PCF release
* Secure access to service credentials for services that are not running on Pivotal Application Service (PAS)
* Allows developers to pass custom JSON to their app through service creation