---
title: Release Notes for CredHub Service Broker
owner: CredHub
---

This topic contains the release notes for CredHub Service Broker for Pivotal Cloud Foundry (PCF).

##<a id="1-4-2"></a> v1.4.2

**Release Date:** September 6, 2019

### Bug Fixes

* [Update to Go 1.12.8 to patch HTTP/2 vulnerability](https://www.pivotaltracker.com/story/show/168147138)

### Known Issues

There are no known issues for this release.

##<a id="1-4-1"></a> v1.4.1

**Release Date:** August 7, 2019

### Features

* Uses compiled releases in tile.

### Known Issues

There are no known issues for this release.


##<a id="1-3-3"></a> v1.3.3

**Release Date:** July 2, 2019

### Bug Fixes

* Fixes version number to return correctly without `rc`.

##<a id="1-3-2"></a> v1.3.2

**Release Date:** June 13, 2019

### Bug Fixes

* Bump CF_CLI dependency due to CVE

### Known Issues

* Version number contains `rc` despite it being a stable, public release. This is fixed in 1.3.3.

##<a id="1-3-1"></a> v1.3.1

**Release Date:** March 26, 2019

### Features

* Adds support for Xenial stemcell

##<a id="1-2-0"></a> v1.2.0

**Release Date:** November 26, 2018

### Bug Fixes

* Bumps Broker API dependency to version 3.0.7 due to CVE 2018-15759
* Returns correct exit code when setting up the service broker

##<a id="1-1-0"></a> v1.1.0

**Release Date:** November 9, 2018

### Features

* Makes tile compatible with Credhub 2.0
* Makes tile compatible with OpsMan 2.3 and OpsMan 2.4

##<a id="1-0-2"></a> v1.0.2

**Release Date:** June 6, 2018

### Bug Fixes

* The tile will now appropriately clean up the deployed application service broker when uninstalled.

### Known Issues

* It is not possible to cleanly upgrade from 1.0.0. Please see 1.0.0 known issues.

##<a id="1-0-1"></a> v1.0.1

**Release Date:** May 7, 2018

### Bug Fixes

* The tile will now deploy alongside service brokers with nonrandom Plan IDs.

### Known Issues

* Removing the tile does not appropriately delete the service broker application. After uninstalling the tile or upgrading to a newer version, it is safe to delete the application manually.
* It is not possible to cleanly upgrade from 1.0.0. Please see 1.0.0 known issues.

##<a id="1-0-0"></a> v1.0.0

**Release Date:** April 12, 2018

First CredHub Service Broker for PCF release.

### Features

* Provides secure access to service credentials for services that are not running on Pivotal Application Service (PAS)
* Allows developers to pass custom JSON to their app through service creation

### Known Issues

* Upgrading the CredHub Service Broker tile from 1.0.0 and applying changes will fail. To upgrade to newer versions of the tile, please uninstall CredHub Service Broker 1.0.0 and apply changes, then add the newer version of the tile and apply changes again. Please note that apps will lose access to credentials they are receiving via the CredHub Service Broker, and that you will need to recreate your services after reinstalling. All existing CredHub services will be purged during the uninstallation of the CredHub Service Broker 1.0.0 tile.
