---
title: Release Notes for CredHub Service Broker
owner: CredHub
---

This topic contains the release notes for CredHub Service Broker for Pivotal Cloud Foundry (PCF).

##<a id="v1.0.1"></a> v1.0.1

**Release Date:** May 7, 2018

### Bug Fixes

* The tile will now deploy alongside service brokers with nonrandom Plan IDs.

### Known Issues

* Removing the tile does not appropriately delete the service broker application.

##<a id="v1.0.0"></a> v1.0.0

**Release Date:** April 12, 2018

First CredHub Service Broker for PCF release.

### Features

* Provides secure access to service credentials for services that are not running on Pivotal Application Service (PAS)
* Allows developers to pass custom JSON to their app through service creation

### Known Issues

There are no known issues for this release.
