---
title: Release Notes for CredHub Service Broker
owner: CredHub
---

This topic contains the release notes for CredHub Service Broker.

##<a id="lts"></a> Long-Term Support for CredHub Service Broker v1.5

CredHub Service Broker v1.5 is the long-term supported (LTS) version of CredHub Service Broker. CredHub Service Broker v1.5 will be supported through April 2022.

Over the lifecycle of CredHub Service Broker v1.5, VMware will release security patches that occasionally include bug fixes and maintenance updates.

##<a id="1-5-0"></a> v1.5.0

**Release Date:** March 16, 2021

### Resolved Issues

+ The `unbind` request no longer fails if the service is already unbound.

+ The `deprovision` request no longer fails if the service is already deprovisioned.

### Known Issues

There are no known issues for this release.

##<a id="1-4-8"></a> v1.4.8

**Release Date:** July 23, 2020

### Resolved Issues

+ Updated dependencies.

### Known Issues

There are no known issues for this release.

##<a id="1-4-7"></a> v1.4.7

**Release Date:** December 13, 2019

### Resolved Issues

+ The `pre_start` script for `deploy-all` errands no longer fails on `python` calls.

### Known Issues

There are no known issues for this release.

##<a id="1-4-6"></a> v1.4.6

**Release Date:** December 12, 2019

### Resolved Issues

+ The `pre_start` script for `deploy-all` is now compatible with Pivotal Application Service (PAS) v2.8.

### Known Issues

This release has the following issue:

+ The `pre_start` script for `deploy-all` errands fails on `python` calls.

##<a id="1-4-5"></a> v1.4.5

**Release Date:** November 1, 2019

### Resolved Issues

+ For PAS v2.7 and earlier,
the `pre_start` script for `deploy-all` errands no longer fails on `awk` calls.

### Known Issues

This release has the following issue:

* For PAS v2.8 and later,
the `pre_start` script for the `deploy-all` errand fails on `jq` calls.

##<a id="1-4-4"></a> v1.4.4

**Release Date:** October 30, 2019

### Resolved Issues

* [Upgraded to Go v1.13.2 to patch a security vulnerability in Go's crypto/x509 library](https://www.pivotaltracker.com/story/show/169320427)

### Known Issue

This release has the following issue:

* The `pre_start` script for the `deploy-all` errand fails on `jq` calls.
This is because `jq` does not exist on the stemcell.

##<a id="1-4-3"></a> v1.4.3

**Release Date:** October 4, 2019

### Resolved Issues

* [Upgraded to Go v1.13.1 to patch net/http vulnerability](https://www.pivotaltracker.com/story/show/168951595)

### Known Issues

There are no known issues for this release.

##<a id="1-4-2"></a> v1.4.2

**Release Date:** September 6, 2019

### Resolved Issues

* [Updated to Go v1.12.8 to patch HTTP/2 vulnerability](https://www.pivotaltracker.com/story/show/168147138)

### Known Issues

There are no known issues for this release.

##<a id="1-4-1"></a> v1.4.1

**Release Date:** August 7, 2019

### Features

* Uses compiled releases in tile.

### Known Issues

There are no known issues for this release.


##<a id="1-3-3"></a> v1.3.3

**Release Date:** July 2, 2019

### Resolved Issues

* Fixes version number to return correctly without `rc`.

### Known Issues

There are no known issues for this release.

##<a id="1-3-2"></a> v1.3.2

**Release Date:** June 13, 2019

### Resolved Issues

* Updated CF_CLI dependency due to CVE

### Known Issue

This release has the following issue:

* Version number contains `rc` despite it being a stable, public release. This is fixed in v1.3.3.

##<a id="1-3-1"></a> v1.3.1

**Release Date:** March 26, 2019

### Features

* Adds support for Xenial stemcell

### Known Issues

There are no known issues for this release.

##<a id="1-2-0"></a> v1.2.0

**Release Date:** November 26, 2018

### Resolved Issues

* Updated Broker API dependency to v3.0.7 due to CVE 2018–15759
* Returns correct exit code when setting up the service broker

### Known Issues

There are no known issues for this release.

##<a id="1-1-0"></a> v1.1.0

**Release Date:** November 9, 2018

### Features

* Makes tile compatible with CredHub 2.0
* Makes tile compatible with Ops Manager 2.3 and Ops Manager 2.4

### Known Issues

There are no known issues for this release.

##<a id="1-0-2"></a> v1.0.2

**Release Date:** June 6, 2018

### Resolved Issues

* The tile now appropriately cleans up the deployed application service broker when uninstalled.

### Known Issue

This release has the following issue:

* Upgrading the CredHub Service Broker tile from v1.0.0 and applying changes will fail.<br><br>
To upgrade to newer versions of the tile, uninstall CredHub Service Broker v1.0.0 and apply changes,
and then add the newer version of the tile and apply changes again.<br><br>
Apps will lose access to credentials they are receiving through the CredHub Service Broker, and you
must to re-create your services after reinstalling. All existing CredHub services are purged when
uninstalling the CredHub Service Broker v1.0.0 tile.

##<a id="1-0-1"></a> v1.0.1

**Release Date:** May 7, 2018

### Resolved Issues

* The tile now deploys alongside service brokers with nonrandom Plan IDs.

### Known Issues

This release has the following issues:

* Removing the tile does not appropriately delete the service broker application.
After uninstalling the tile or upgrading to a newer version, it is safe to delete the application manually.

* Upgrading the CredHub Service Broker tile from v1.0.0 and applying changes will fail.<br><br>
To upgrade to newer versions of the tile, uninstall CredHub Service Broker v1.0.0 and apply changes,
and then add the newer version of the tile and apply changes again.<br><br>
Apps will lose access to credentials they are receiving through the CredHub Service Broker, and you
must to re-create your services after reinstalling. All existing CredHub services are purged when
uninstalling the CredHub Service Broker v1.0.0 tile.

##<a id="1-0-0"></a> v1.0.0

**Release Date:** April 12, 2018

First CredHub Service Broker for PCF release.

### Features

* Provides secure access to service credentials for services that are not running on PAS
* Allows developers to pass custom JSON to their app through service creation

### Known Issue

This release has the following issue:

* Upgrading the CredHub Service Broker tile from v1.0.0 and applying changes will fail.<br><br>
To upgrade to newer versions of the tile, uninstall CredHub Service Broker v1.0.0 and apply changes,
and then add the newer version of the tile and apply changes again.<br><br>
Apps will lose access to credentials they are receiving through the CredHub Service Broker, and you
must to re-create your services after reinstalling. All existing CredHub services are purged when
uninstalling the CredHub Service Broker v1.0.0 tile.
