---
title: Release Notes for CredHub Service Broker
owner: CredHub
---

This topic contains the release notes for CredHub Service Broker.

##<a id="v1.0.0"></a> v1.0.0

**Release Date:** April 13, 2018

Features included in this release:

* First CredHub Service Broker release
* Secure access to service credentials for services that are not running on Pivotal Application Service (PAS)

