---
title: Using CredHub Service Broker
owner: CredHub
---

This topic describes how to use CredHub Service Broker for Pivotal Cloud Foundry (PCF).

##<a id='using'></a> Using CredHub Service Broker for PCF

Creating a Credhub Service Broker instance and binding it to an app creates a credential in CredHub and provides the reference
to that credential in the app environment. 
This allows developers to deploy apps that can securely access
credentials for services that are not running on PAS.

To create a service instance of the CredHub Service Broker and bind it to your app, perform the following steps:

1. Create a CredHub Service Broker service instance.
Run the following command:

	```
	cf create-service credhub default SERVICE-INSTANCE \
	 -c '{"name":"CREDENTIAL-NAME","value":"CREDENTIAL-VALUE"}
	``` 
	<br>
	Where:
	* `SERVICE-INSTANCE` is a name for your new service instance. 
	* `CREDENTIAL-NAME` is the name for the credential you want to provide to services that are not running on PAS.
	* `CREDENTIAL-VALUE` is the value of the credential.
	<br><br>
	<pre class="terminal">
	cf create-service credhub default my-credhub-instance \
	 -c '{"name":"my-cred","value":"ABCDEFGHIJK123456789"}
	</pre>

1. Bind the service instance to your app. 
	Run the following command:

	```
	cf bind-service MY-APP SERVICE-INSTANCE
	```

1. Restart your app.
	Run the following command:

	```
	cf restart MY-APP
	```

1. Your app should now have access to the credential created in step 1. 
	To verify that your app can access the credential, run the following command and locate the CredHub reference:

	```
	cf env MY-APP
	```
