---
title: Using CredHub Service Broker
owner: CredHub
---

This topic describes how to use CredHub Service Broker for Pivotal Cloud Foundry (PCF).

##<a id='create'></a> Create and Bind a Service Instance

Creating a Credhub Service Broker instance and binding it to an app creates a credential in CredHub and provides the reference
to that credential in the app environment. 
This allows developers to deploy apps that can securely access
credentials for services that are not running on PAS.

To create a service instance of the CredHub Service Broker and bind it to your app, perform the following steps:

1. Create a CredHub Service Broker service instance.
Run the following command:

	```
	cf create-service credhub default SERVICE-INSTANCE \
	 -c '{"CREDENTIAL-NAME":"CREDENTIAL-VALUE"}
	``` 
	<br>
	Where:
	* `SERVICE-INSTANCE` is a name for your new service instance. 
	* `CREDENTIAL-NAME` is the name for the credential you want to provide to services that are not running on PAS.
	* `CREDENTIAL-VALUE` is the value of the credential.
	<p class="note"><strong>Note</strong>: You can provide multiple credentials as a JSON list. For example, <code>{"MY\_CREDHUB\_CRED": "1234", "MY\_CREDHUB\_CRED2": "5678"}</code>.</p>
	<br><br>
	<pre class="terminal">
	cf create-service credhub default my-credhub-instance \
	 -c '{"name":"MY\_CREDHUB\_CRED","value":"ABCDEFGHIJK123456789"}
	</pre>

1. Ensure that your app is written to discover the credential in the app environment.
	<br><br>
	`VCAP_SERVICES` is an environment variable that exists within every container. Access the `credhub` JSON object within `VCAP_SERVICES` to discover the credentials. For example, in Ruby you would access this JSON object with `ENV['VCAP_SERVICES']['credhub']`.
	<br><br>
	If you need to modify your app code, you must re-push the app before continuing. 

1. Bind the CredHub Service Broker service instance to your app. 
	Run the following command:

	```
	cf bind-service MY-APP SERVICE-INSTANCE
	```

1. Restart your app.
	Run the following command:

	```
	cf restart MY-APP
	```

1. Your app should now have access to the credential created in step 1. 
	To verify that your credential is in the app environment, run the following command and locate the CredHub reference under `VCAP_SERVICES` in the output:

	```
	cf env MY-APP
	```
	<br><br>
	For example:
	<pre class="terminal">
	cf env my-app
	Getting env variables for app my-app in org example / space example as admin...
	OK
	System-Provided:
	{
	 "VCAP\_SERVICES": {
	  "credhub": [
	   {
	    "binding\_name": null,
	    "credentials": {
	     "credhub-ref": "/credhub-service-broker/credhub/ac517e09-2f5e-475a-bf87-ca4275faa536/credentials"
	    },
	    "instance\_name": "credhub",
	    "label": "credhub",
	    "name": "credhub",
	    "plan": "default",
	    "provider": null,
	    "syslog\_drain\_url": null,
	    "tags": [
	     "credhub"
	    ],
	    "volume\_mounts": []
	   }
	  ]
	 }
	}
	</pre>

##<a id='update'></a> Update Credentials

Perform the following steps to update the credentials in a CredHub Service Broker service instance:

1. Create a CredHub Service Broker service instance.
Run the following command:

	```
	cf update-service credhub default SERVICE-INSTANCE \
	 -c '{"CREDENTIAL-NAME":"CREDENTIAL-VALUE"}
	``` 
	<br>
	Where:
	* `SERVICE-INSTANCE` is the name of your existing CredHub Service Broker service instance. 
	* `CREDENTIAL-NAME` is the name for the updated credential you want to provide to services that are not running on PAS.
	* `CREDENTIAL-VALUE` is the value of the credential.
	<p class="note"><strong>Note</strong>: You can update multiple credentials as a JSON list. For example, <code>{"MY\_CREDHUB\_CRED": "1234", "MY\_CREDHUB\_CRED2": "5678"}</code>.</p>
	<br><br>
	<pre class="terminal">
	cf update-service credhub default my-credhub-instance \
	 -c '{"name":"MY\_CREDHUB\_CRED","value":"ABCDEFGHIJK123456789"}
	</pre>

1. Restart your app.
	Run the following command:

	```
	cf restart MY-APP
	```
